@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Encode+Sans:600,700,800&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/* Layout */
/* Module Section */
/* State */

/*
  base font-size: 18px
  base line-height: 22px
  1.618/Phi is our modular scale:
  https://www.modularscale.com/?18&px&1.618
*/

/* --- Base Styles --- */
html {
  background: #ffffff;
  color: #310094;
  font-family: "Encode Sans", sans-serif;
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}

h1 {
  color: #0066FF;
  display: block;
  font-size: 1.618em; /* 29.124 / 18 = 1.618 */
  line-height: 1.5107814861em; /* 44 / 29.124 = 1.5107814861 */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  padding-bottom: 1.2222222222em;
}

label {
  color: #EEE;
}

a {
  text-decoration: none;
}

a[role="button"] {
  box-sizing: border-box;
  display: block;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
}

input {
  border: 0;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: 0;
  padding: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
  flex: 1 1 25%;
}

/* --- Layout --- */
#form-explainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  text-align: center;
}

#event-section {
  display: flex;
  flex-flow: row wrap;
}

#event-list {
  display: grid;
  flex: 1 0 50%;
  grid-gap: 0.305em;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
  padding: 0.305em;
}

#credit-security {
  width: 25%;
  flex-grow: 0;
}

#eh-submit {
  border: 0;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: 0;
  padding: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
  width: 100%;
}

/* --- Forms --- */
input,
label,
select {
  box-sizing: border-box;
  display: block;
}

.form-item {
  display: flex;
  flex-flow: row wrap;
}

.form-item label {
  width: 100%;
}

.form-item img {
  max-width: 2.444444444em;
  max-height: 2.444444444em;
  padding-left: 1.2222222222em;
}

input[type="tel"] {
  background-color: rgba(67,176,183,1);
  margin-bottom: 0.6111111111em;
}

input[type="tel"]:focus {
  background-color: #EEE;
}

input[type="submit"],
#eh-submit {
  background-color: #ffffff;
  color: #666699;
  opacity: 1;
  transition: opacity 2s;
  width: 100%;
}

input[type="submit"]:disabled {
  opacity: 0.5;
}

.hint {
  font-style: italic;
}

.event-entry {
  border: dashed 0.0763em #d3d3d3;
  display: flex;
  flex-flow: column wrap;
}

.hint b {
  color: #b3b3b3;
}

#event-list img {
  display: block;
  max-width: 15em;
}

#event-section h2 {
  width: 100%;
}

.event-info-descrip li {
  /* vertical | horizontal */
  padding: 2.5% 0;
}

.event-info-descrip {
  padding: 5%;

}

.register {
  border-radius: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  transition: 0.4s;
}

.custom-button-link {
  background-color: #4F69C6;
  border-radius: 0.5em;
  color: white;
  padding: 0.9166666665em;
  text-decoration: none;
}

.custom-button-link:active {
  background-color: #550000;
  transition: 0.4s;
}

.custom-button-link:hover {
  background-color: #92a6ef;
  transition: 0.4s;
}

.event-img {
  padding-bottom: 1.2222222222em;
}

.event-title {
  font-family: "Playfair Display", serif;
  font-size: 1.125em;
  padding-bottom: 0.6111111111em;
}

.event-info {
  font-family: "Encode Sans", sans-serif;
  font-size: 0.618em; /* 18 / 16 = 1.125 */
  line-height: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}

.event-img-descrip {
  display: block;
  margin: auto;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

/* --- Controls color transitions for hovering and clicking menu buttons --- */
/*.register :hover {
  background-color: grey;
  border-radius: 0.5em;
  transition: 0.4s;
}*/

.register a {
  /* top | right | bottom | left */
  /*margin:auto;*/
  background-color: #4F69C6;
  border-radius: 0.5em;
  color: white;
  padding: 1em 25% 1em 25%;
  text-decoration: none;
}

.register a:active {
  background-color: #550000;
  transition: 0.4s;
}

.register a:hover {
  background-color: #92a6ef;
  transition: 0.4s;
}

/* --- Form Layout --- */
#signup-form {
  background: #4F69C6;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
}

#signup-form ol {
  /*
  display: flex;
  align-items: flex-end;
  align-content: stretch;
  flex-flow: row wrap;
  */
  padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}

#signup-form li {
  flex: 1 0 auto;
  padding-bottom: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
}

/* --- Size-Selector Control --- */
#size-touch {
  display: flex;
}

#size-touch li {
  margin-right: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
}

#size-touch li:last-child {
  margin-right: 0;
}

#size-touch a {
  background-color: #EEE;
  border: 1px solid #b3b3b3;
  color: #666699;
  padding: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
}

#size-touch a.selected {
  background-color: #b3b3b3;
  color: #EEE;
}


/* --- State --- */
.hidden {
  display: none;
}

/* --- Diagnostic CSS --- */
/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/
body.g {
  position: relative;
}

body.g::after {
  /* Change the `height` parameter here to match your base line-height. */
  background: url('data:image/svg+xml;utf8,<svg height="22" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 255, 0.8)" /></svg>') repeat top left;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

body.g:active::after {
  display: none;
}

/* --- Media Querys --- */
@media screen and (min-width: 360px) {
  /* Base Styles */
  html {
    padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
    /*padding: 6%;*/
  }
  /* Layout */
  #descrip-contents {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: 1fr;
  }

  #descrip-main {
    padding-left: 5%;
    padding-right: 5%;
  }
  /* Module Section */
  /* State */
}

@media screen and (min-width: 820px) {
  /* Base Styles */
  /* Layout */
  #content {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 2fr;
  }

  #descrip-contents {
    display: grid;
    grid-template-columns: 66.666% 33.333%;
    padding: 1em;
  }

  #descrip-main {
    padding-left: 20%;
    padding-right: 20%;
  }

  #event-list {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Module Section */
  /* State */
}

@media screen and (min-width: 1200px) {
  /* Base Styles */
  /* Layout */
  #event-list {
    grid-template-columns: repeat(3, 1fr);
  }
  /* Module Section */
  /* State */
}

@media screen and (min-width: 1600px) {
  /* Base Styles */
  /* Layout */
  #event-list {
    grid-template-columns: repeat(4, 1fr);
  }
  /* Module Section */
  /* State */
}
