@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Encode+Sans:600,700,800&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  base font-size: 18px
  base line-height: 22px
  1.618/Phi is our modular scale:
  https://www.modularscale.com/?18&px&1.618
*/

html {
  background: #ffffff;
  color: #666699;
  font-family: "Encode Sans", sans-serif;
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}

h1 {
  color: #cc0000;
  font-size: 1.618em; /* 29.124 / 18 = 1.618 */
  line-height: 1.5107814861em; /* 44 / 29.124 = 1.5107814861 */
}

p {
  font-family: "Playfair Display", serif;
  padding-bottom: 1.2222222222em;
}

label {
  color: #EEE;
}

a[role="button"] {
  box-sizing: border-box;
  display: block;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
}

/* Layout */
#form-explainer {
  text-align: center;
  padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*@media screen and (min-width: 820px) {
  #form-content {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 2fr;
  }
}*/


/* Forms */
input,
label,
select {
  box-sizing: border-box;
  display: block;
}

input,
#eh-submit {
  border: 0;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: 0;
  padding: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
  width: 100%;
}

input[type="tel"] {
  background-color: rgba(67,176,183,1);
  margin-bottom: 0.6111111111em;
}

input[type="tel"]:focus {
  background-color: #EEE;
}

input[type="submit"],
#eh-submit {
  background-color: #ffffff;
  color: #666699;
  opacity: 1;
  transition: opacity 2s;
  width: 100%;
}

input[type="submit"]:disabled {
  opacity: 0.5;
}

.hint {
  font-style: italic;
}

.hint b {
  color: #b3b3b3;
}

#event-list img {
  display: block;
  max-width: 15em;
}

/* Form Layout */
#signup-form {
  background: #cc3300;
  color: #222;
  max-width: 30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#signup-form ol {
  /*
  display: flex;
  align-items: flex-end;
  align-content: stretch;
  flex-flow: row wrap;
  */

  padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}

#signup-form li {
  flex: 1 0 auto;
  padding-bottom: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
}

#credit-security-area {
	width: 5em;
}

/* Size-Selector Control */
#size-touch {
  display: flex;
}

#size-touch li {
  margin-right: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
}

#size-touch li:last-child {
  margin-right: 0;
}

#size-touch a {
  background-color: #EEE;
  border: 1px solid #b3b3b3;
  color: #666699;
  padding: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
}

#size-touch a.selected {
  background-color: #b3b3b3;
  color: #EEE;
}

#descrip-contents {
  display: grid;
  grid-template-columns: 66.666% 33.333%;
}
#descrip-main {
  padding-left: 20%;
  padding-right: 20%;

}

.event-info-descrip {
  padding: 5%;

}

.event-info-descrip li{
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.register {
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 0.5em;
  transition: 0.4s;
}
.register a {
  /*margin:auto;*/
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  padding-left: 25%;
  padding-right: 25%;
  background-color: #801515;
  text-decoration: none;
  color: white;
  border-radius: 0.5em;
}

.event-img-descrip {
  object-fit: cover;
  object-position: center center;
  display: block;
  margin: auto;
  width: 100%;
}
/*.register :hover {
  background-color: grey;
  border-radius: 0.5em;
  transition: 0.4s;
}*/

/*Controls color transitions for hovering and clicking menu buttons*/
.register a:active {
  background-color: #550000;
  transition: 0.4s;
}
.register a:hover {
  background-color: #d46a46;
  transition: 0.4s;
}
/* State */
.hidden {
  display: none;
}

/* Diagnostic CSS */
/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

body.g {
  position: relative;
}

body.g::after {
  /* Change the `height` parameter here to match your base line-height. */
  background: url('data:image/svg+xml;utf8,<svg height="22" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 255, 0.8)" /></svg>') repeat top left;

  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

body.g:active::after {
  display: none;
}

@media screen and (min-width: 360px) {
  html {
    padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
    /*padding: 6%;*/
  }
  #descrip-contents {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
  #descrip-main {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (min-width: 820px) {
  #content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
  #descrip-contents {
    display: grid;
    grid-template-columns: 66.666% 33.333%;
  }
  #descrip-main {
    padding-left: 20%;
    padding-right: 20%;
  }
}
